@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-very-dark-blue: hsl(243, 87%, 12%);
	--desaturated-blue: hsl(238, 22%, 44%);
	--bright-blue: hsl(224, 93%, 58%);
	--moderate-cyan: hsl(170, 45%, 43%);
	--light-grayish-blue: hsl(240, 75%, 98%);
	--light-gray: hsl(0, 0%, 75%);
	--border-radius: 1.5cqi;
	--info-p-line-height: 7cqi;
}

img {
	width: 100%;
	display: block;
}

p {
	display: block;
}

html {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

body {
	text-align: center;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

span {
	display: block;
}

header {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	margin-bottom: 25cqi;
	justify-content: space-between;
	padding: 6% 6% 0 6%;
}

header .img-logo {
	width: 25cqi;
}

header ul {
	font-size: 3.5cqi;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 40cqi;
}

form {
	display: flex;
	flex-flow: column nowrap;
	margin: 10cqi 5cqi 30cqi 5cqi;
}

form input {
	line-height: 15cqi;
	border: 1px solid black;
	font-size: 5cqi;
	border-radius: var(--border-radius);
	padding-left: 7cqi;
}

form input::placeholder {
	color: hsla(0, 0%, 0%, .2);
}

form button {
	background-color: var(--bright-blue);
	color: white;
	line-height: 15cqi;
	font-size: 4cqi;
	font-weight: 700;
	border-radius: var(--border-radius);
}

/* All three sections */
.section {
	display: flex;
	flex-flow: column nowrap;
	padding: 0 6%;
}

/* All info divs of sections */
.section-info {
	container-type: inline-size;
}

/* Second section for background change */
.section:nth-child(3) {
	background-image: url("../images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    background-size: 600% 100%;
    background-position: top;
	padding-top: 25cqi;
}

/* All your files... */
.section:nth-child(2) .section-info > p:nth-child(1) {
	font-size: 8cqi;
	font-weight: 700;
	margin: 12cqi 0 8cqi 0;
	line-height: 10cqi;
}

/* Fylo stores your... */
.section:nth-child(2) .section-info > p:nth-child(2) {
	font-size: 4.5cqi;
	line-height: var(--info-p-line-height);
}

/* Stay productive, wherever you are */
.section:nth-child(3) .section-info > p:nth-child(1) {
	font-size: 5cqi;
	font-weight: 700;
	margin: 15cqi 0 6cqi 0;
}

/* Never let location... & Securely share files... */
.section:nth-child(3) .section-info > p:nth-child(n+2):nth-child(-n+3) {
	text-align: left;
	font-size: 4.5cqi;
	line-height: var(--info-p-line-height);
}

/* See how Fylo works */
.section:nth-child(3) .section-info > a > p:nth-child(1) {
	position: relative;
	font-size: 4.5cqi;
	color: var(--moderate-cyan);
	width: fit-content;
	margin: 12cqi auto;
	border-bottom: 2px solid var(--moderate-cyan);
	padding: 0 6cqi 1cqi 0;
}

/* See how Fylo works ARROW */
.section:nth-child(3) .section-info > a > p:nth-child(1)::after {
	position: absolute;
	content: url("../images/icon-arrow.svg");
	top: -5px;
	right: 0;
	transform: scale(2);
}

/* Founder card */
.card-founder {
	container-type: inline-size;
	background-color: white;
	width: 85cqi;
	margin: 0 auto 30cqi auto;
	padding: 8cqi;
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 20px hsla(0, 0%, 0%, .1);
}

/* Founder card quotes img */
.card-founder > figure:first-child > img {
	width: 7cqi;
	margin-bottom: 3cqi;
}

/* Founder card comment */
.card-founder > div:nth-child(2) {
	text-align: left;
	font-size: 4.5cqi;
	margin-bottom: 7cqi;
}

/* Founder card person img and desc. */
.card-founder .person-pic-info {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 3cqi;
}

/* Founder card person img only */
.card-founder .person-pic-info figure img {
	width: 15cqi;
	border-radius: 50%;
}

/* Found card person desc. name only */
.card-founder .person-pic-info div:nth-child(2) span:first-child {
	text-align: left;
	font-size: 5cqi;
	font-weight: 700;
	margin-bottom: .5cqi;
}

/* Third section */
.section:nth-child(4) {
	background-color: var(--desaturated-blue);
	color: white;
}

/* Get early access today */
.section:nth-child(4) .section-info > p:nth-child(1) {
	font-size: 5cqi;
	font-weight: 700;
	margin: 15cqi 0 6cqi 0;
}

/* It only takes a minute ... */
.section:nth-child(4) .section-info > p:nth-child(2) {
	font-size: 4.5cqi;
	line-height: var(--info-p-line-height);
}

/* Div for error message */
[class*="error-input-"] {
	text-align: left;
	font-size: 4cqi;
	padding: 0 0 1.5cqi 0;
	font-weight: bold;
	visibility: hidden;
}

/* Div for 1st error message */
.error-input-1 {
	color: red;
}

/* Div for 2nd error message */
.error-input-2 {
	color: white;
}

/* Footer */
footer {
	display: grid;
	gap: 10cqi;
	container-type: inline-size;
	color: white;
	background: var(--color-very-dark-blue);
	padding: 20cqi 10cqi 10cqi 10cqi;
}

footer img {
	width: 60cqi;
	fill: #FFFFFF;
	align-items: left;
	display: inline;
}

footer ul li img {
	width: 35px;
	margin-right: 6cqi;
}

footer ul {
	text-align: left;
	font-size: 6cqi;
}

footer ul li {
	margin-bottom: 5cqi;
}

/* All social media icons. Whole DIV */
.social-icons {
	display: flex;
	flex-direction: row;
	gap: 3cqi;
	margin: 0 auto 3cqi auto;
}

/* All social media figure containers for icons */
.social-icons figure {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	width: 10cqi;
	height: 10cqi;
	border-radius: 50%;
}

/* Facebook icon */
.social-icons figure:first-child img {
	width: 3cqi;
}

/* X icon */
.social-icons figure:nth-child(2) img {
	width: 5cqi;
}

/* Instagram icon */
.social-icons figure:nth-child(3) img{
	width: 5cqi;
}

@media (width > 1000px) {
	body {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto auto auto;
		grid-template-areas:
			"header header"
			"info-1 image-1"
			"info-2 image-2"
			"info-3 info-3"
			"footer footer";
	}

	header {
		grid-area: header;
	}

	.section:nth-child(2) .section-info:nth-child(2) { 
		grid-area: info-1;
	}

	.image-1 {
		grid-area: image-1;
	}

	.section:nth-child(3) .section-info:nth-child(2) {
		grid-area: info-2;
	}

	.image-2 {
		grid-area: image-2;
	}

	.section:nth-child(4) {
		grid-area: info-3;
	}

	footer {
		grid-area: footer;
	}
}