@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-very-dark-blue: hsl(243, 87%, 12%);
	--desaturated-blue: hsl(238, 22%, 44%);
	--bright-blue: hsl(224, 93%, 58%);
	--moderate-cyan: hsl(170, 45%, 43%);
	--light-grayish-blue: hsl(240, 75%, 98%);
	--light-gray: hsl(0, 0%, 75%);
	--border-radius: 1.5cqi;
}

img {
	width: 100%;
	display: block;
}

p {
	display: block;
}

html {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

body {
	text-align: center;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

span {
	display: block;
}

header {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	margin-bottom: 25cqi;
	justify-content: space-between;
	padding: 6% 6% 0 6%;
}

header .img-logo {
	width: 25cqi;
}

header ul {
	font-size: 3.5cqi;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 40cqi;
}

form {
	display: flex;
	flex-flow: column nowrap;
	gap: 5cqi;
	margin: 10cqi 5cqi 30cqi 5cqi;
}

form input {
	line-height: 15cqi;
	border: 1px solid black;
	font-size: 5cqi;
	border-radius: var(--border-radius);
	padding-left: 7cqi;
}

form input::placeholder {
	color: hsla(0, 0%, 0%, .2);
}

form button {
	background-color: var(--bright-blue);
	color: white;
	line-height: 15cqi;
	font-size: 4cqi;
	font-weight: 700;
	border-radius: var(--border-radius);
}

/* all three sections */
.section {
	display: flex;
	flex-flow: column nowrap;
	padding: 0 6%;
}

/* all info divs of sections */
.section-info {
	container-type: inline-size;
}

/* Second section for background change */
.section:nth-child(3) {
	background-image: url("../images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    background-size: 600% 100%;
    background-position: top;
	padding-top: 25cqi;
}

/* All your files... */
.section:nth-child(2) .section-info > p:nth-child(1) {
	font-size: 8cqi;
	font-weight: 700;
	margin: 12cqi 0 8cqi 0;
}

/* Fylo stores your... */
.section:nth-child(2) .section-info > p:nth-child(2) {
	font-size: 4.5cqi;
}

/* Stay productive, wherever you are */
.section:nth-child(3) .section-info > p:nth-child(1) {
	font-size: 5cqi;
	font-weight: 700;
	margin: 15cqi 0 6cqi 0;
}

/* Never let location... & Securely share files... */
.section:nth-child(3) .section-info > p:nth-child(n+2):nth-child(-n+3) {
	text-align: left;
	font-size: 4.5cqi;
}

/* See how Fylo works */
.section:nth-child(3) .section-info > a > p:nth-child(1) {
	position: relative;
	font-size: 4.5cqi;
	color: var(--moderate-cyan);
	width: fit-content;
	margin: 12cqi auto;
	border-bottom: 2px solid var(--moderate-cyan);
	padding: 0 6cqi 1cqi 0;
}

/* See how Fylo works ARROW */
.section:nth-child(3) .section-info > a> p:nth-child(1)::after {
	position: absolute;
	content: url("../images/icon-arrow.svg");
	top: -5px;
	right: 0;
	transform: scale(2);
}

/* Founder card */
.card-founder {
	container-type: inline-size;
	background-color: white;
	width: 85cqi;
	margin: 0 auto;
	padding: 8cqi;
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 20px hsla(0, 0%, 0%, .1);
}

/* Founder card quotes img */
.card-founder > figure:first-child > img {
	width: 7cqi;
	margin-bottom: 3cqi;
}

/* Founder card comment */
.card-founder > div:nth-child(2) {
	text-align: left;
	font-size: 4.5cqi;
	margin-bottom: 7cqi;
}

/* Founder card person img and desc. */
.card-founder .person-pic-info {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 3cqi;
}

/* Founder card person img only */
.card-founder .person-pic-info figure img {
	width: 15cqi;
	border-radius: 50%;
}

/* Found card person desc. name only */
.card-founder .person-pic-info div:nth-child(2) span:first-child {
	text-align: left;
	font-size: 5cqi;
	font-weight: 700;
	margin-bottom: .5cqi;
}